@import '../_variables.less';

.bkng-hotel-table-bgdn {
  &__id {
    width: 8.5%;
    color: #565656;
    font-weight: bold;
  }
  
  &__person {
    width: 16.5%;
    color: #000;
  }
  
  &__person-name {
    display: block;
    font-weight: bold;
  }
  
  &__email {
    width: 21%;
    color: #000;
  }
  
  &__date {
    width: 12%;
    color: #565656;
  }
  
  &__date-item {
    display: inline-block;
    margin-right: 12px;
    white-space: nowrap;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &__type {
    width: 9%;
    text-align: center;
  }
  
  &__cap {
    width: 8.5%;
    color: #565656;
  }
  
  &__status {
    width: 10%;
    color: #565656;
  }
  
  &__status-icon {
    margin-right: 8px;
    
    &--invoced {
      color: @color-invoced;
    }
    
    &--paid {
      color: @color-paid;
    }
    
    &--cancelled {
      color: @color-cancelled;
    }
  }
}