.trnsp-table-bgdn {
  margin-bottom: 50px;
  
  @media screen and (max-width: 768px) {
    margin: 0 -15px 30px;
  }
  
  &__id,
  &__from,
  &__to {
    font-weight: bold;
    
    a {
      color: #565656;
      text-decoration: none;
      
      &:hover {
        color: @color-blue;
        text-decoration: none;
      }
    }
  }
  
  &__date {
    color: #565656;
    @media screen and (min-width: 1500px) {
      white-space: nowrap;
    }
  }
  
  &__date-item {
    display: inline-block;
    margin-right: 12px;
    white-space: nowrap;
    
    &:last-child {
      margin-right: 0;
    }
    
    .fa {
      margin-right: 4px;
    }
  }
  
  &__type {
    text-align: center;
  }
  
  &__cap {
    color: #565656;
    white-space: nowrap;
  }
  
  &__status {
    color: #565656;
  }
  
  &__status-pic {
    margin-right: 5px;
    
    &--live {
      color: @color-purple;
    }
    
    &--not-live {
      color: @color-pink;
    }
  }
  
  &__tot {
    color: #565656;
  }
  
  &__emphasized {
    color: @color-blue;
  }
  
  @media screen and (min-width: 1200px) {
    &__id {
      width: 8.5%;
    }
    
    &__from {
      width: 16.5%;
    }

    &__to {
      width: 21%;
    }

    &__date {
      width: 12%;
    }

    &__type {
      width: 9%;
    }

    &__cap {
      width: 8.5%;
    }

    &__status {
      width: 10%;
      white-space: nowrap;
    }
  }
  
  @media screen and (max-width: 1200px) {
    &__from,
    &__to {
      width: 35%;
      min-width: 170px;
      
    }

    &__date {
      width: 150px
    }
    
    &__tot {
      width: 0;
    }
  }
}